[Desktop Entry]
Encoding=UTF-8
Version=1.1
Type=Application
Terminal=false
Exec=wireguird
Name=Wireguird
Icon=/usr/share/wireguird/Icon/128x128/wireguard.png
Categories=Network
Comment=Manage, create, and connect to WireGuard tunnels
